*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFF6E9 !important;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

iframe {
    border: 0;
}

.container {
    padding: 0 1rem;
}

/* Google login button */
.abcRioButton {
    width: 100%;
    height: unset;
    padding: 8px 16px;
    border-radius: 8px;
}
.abcRioButtonLightBlue {
    color: black !important;
    width: 100% !important;
    height: unset !important;
}

.abcRioButton span {
    font-size: 1.1rem !important;
}

/* Register Section */
.RegisterSection {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.RegisterSection h1 {
    margin: 0;
}

.RegisterRowSection, .RegisterSectionNav {
    width: 100%;
}

.RegisterSection button i {
    padding: 0;
    padding-right: 1rem;
}

.RegisterSectionNav i {
    padding: 1rem;
}

.RegisterSectionNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .RegisterSectionNav i, .loginSectionReturn i, .manageAccountSectionReturn i, .addJobReturn i {
        transform: rotate(180deg);
        font-size: 1.6rem;
    }

@media (min-width: 768px) {
    .RegisterRowSection, .RegisterSectionNav {
        width: 60%;
    }
}

.externalLoginSection, .loginSection, .manageAccountSection {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.externalLoginSection p.text-info {
    color: black !important;
}

/* Login Section */
#external-account button {
    font-size: 1.25rem;
}
#external-account button i {
    padding-right: 1rem;
}

/* Job Section */
p.addOrder i {
    font-size: 1.2rem;
    margin-right: .2rem;
}

.indexSectionSearch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.indexSectionSearch form {
    display: flex;
    flex-direction: row;
}

.indexSectionSearch form button {
    margin-left: 1rem;
}

/* NAV */
@media(max-width: 992px) {
    nav .container {
        padding: 0;
    }
}

nav button.nav-link.btn.btn-link.text-dark.logout {
    text-align: center;
}

nav button {
    margin-right: 1rem;
}

nav button.nav-link.btn.btn-link.text-dark {
    outline: none;
}

a.navbar-brand {
    font-size: 1.5rem;
    color: black;
}

a.nav-link, button.nav-link {
    font-size: 1.1rem;
}

span.navbar-toggler-icon {
    color: black;
}

.navbar-light .navbar-nav a.nav-link, button.nav-link.btn.btn-link.text-dark {
    border-radius: 8px;
    transition: .2s;
    color: black;
}

.navbar-light .navbar-nav a.nav-link:hover, button.nav-link.btn.btn-link.text-dark:hover, .navbar-light .navbar-nav a.nav-link:focus, button.nav-link.btn.btn-link.text-dark:focus {
    color: black;
    background-color: #0D9276;
}

nav button.nav-link.btn.btn-link.text-dark, nav button.nav-link.btn.btn-link.text-dark:focus {
    border-color: transparent;
    outline: none;
}

a.navbar-brand, .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}

button.nav-link.btn.btn-link.text-dark {
    width: 100%;
    text-align: left;
}

@media(min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: .5rem 1rem;
    }
    a.navbar-brand {
        padding-left: 0;
    }
}

/* MAIN */
.section-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

/* CAROUSEL */
.carousel-image {
    background-size: cover;
    height: 180px;
}

.img-1 {
    background-position: bottom 80% right 50%;
    background-image: url("../img/1_SM.jpg");
}

.img-2 {
    background-position: bottom 55% right 50%;
    background-image: url("../img/21_SM.jpg");
}

.img-3 {
    background-position: center;
    background-image: url("../img/9_SM.jpg");
}

@media(min-width: 768px) {
    .img-1 {
        background-image: url("../img/1_MD.jpg");
    }

    .img-2 {
        background-image: url("../img/21_MD.jpg");
    }

    .img-3 {
        background-image: url("../img/9_MD.jpg");
    }
}

@media(min-width: 992px) {
    .img-1 {
        background-image: url("../img/1_LG.jpg");
    }

    .img-2 {
        background-image: url("../img/21_LG.jpg");
    }

    .img-3 {
        background-image: url("../img/9_LG.jpg");
    }
}

@media(min-width: 1200px) {
    .img-1 {
        background-image: url("../img/1_XL.jpg");
    }

    .img-2 {
        background-image: url("../img/21_XL.jpg");
    }

    .img-3 {
        background-image: url("../img/9_XL.jpg");
    }
}

.carousel-caption {
    background-color: rgba(255,255,255,0.4);
    width: 100%;
    left: 0;
    right: 0;
}

.carousel-caption p {
    font-size: 20px;
}

.carousel-caption--left h1, .carousel-caption--left p {
    text-align: left;
}

.carousel-caption--right h1, .carousel-caption--right p {
    text-align: right;
}

/* OFFER */

.underline {
    background-color: #40A2E3;
    width: 60px;
    height: 4px;
    margin: 0 auto 40px;
}

.section-image {
    width: 100%;
    height: 300px;
    background-size: cover;
}

.img-concrete {
    background-image: url("../img/6_SM.jpg");
    background-position: bottom 70% left 50%;
}

.img-panel {
    background-image: url("../img/23_SM.jpg");
    background-position: bottom 70% left 50%;
}

.img-shed {
    background-image: url("../img/11_SM.jpg");
    background-position: bottom 70% left 50%;
}

@media(min-width: 768px) {
    .img-concrete {
        background-image: url("../img/6_MD.jpg");
    }

    .img-panel {
        background-image: url("../img/23_MD.jpg");
    }

    .img-shed {
        background-image: url("../img/11_MD.jpg");
    }
}

@media(min-width: 992px) {
    .img-concrete {
        background-image: url("../img/6_LG.jpg");
    }

    .img-panel {
        background-image: url("../img/23_LG.jpg");
    }

    .img-shed {
        background-image: url("../img/11_LG.jpg");
    }
}

@media(min-width: 1200px) {
    .img-concrete {
        background-image: url("../img/6_XL.jpg");
    }

    .img-panel {
        background-image: url("../img/23_XL.jpg");
    }

    .img-shed {
        background-image: url("../img/11_XL.jpg");
    }
}

.section-description h3 {
    font-size: 1.4rem;
}

section .container hr {
    color: #0D9276;
    height: 2px;
}

.see-more, .place-order {
    display: inline-block;
    border: 2px solid #0D9276;
    text-decoration: none;
    color: black;
    padding: .9rem 1.8rem;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.see-more:hover {
    color: #FFF6E9;
    background-color: #0D9276;
}

.place-order {
    color: black;
    background-color: #0D9276;
    text-transform: uppercase;
    word-spacing: 2px;
    font-weight: bold;
}

.place-order:hover {
    background-color: #0D9276;
    color: black;
    transform: scale(1.1);
}

/* ABOUTUS */
.aboutus {
    background-color: #BBE2EC;
}

.aboutus i {
    font-size: 7rem;
}

.aboutus-icon-title {
    font-size: 1.3rem;
    text-transform: uppercase;
}

/* GALLERY */

.gallery {
    background-color: #BBE2EC;
}

.gallery-concrete, .gallery-panel, .gallery-shed {
    justify-content: center;
}

.gallery img {
    width: 300px;
    height: 200px;
    margin: .5rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    object-fit: contain;
}

.gallery img:hover {
    transform: scale(1.05);
}

.gallery-full-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.gallery-full-screen img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.img-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
}

.fa-xmark, #prevImage, #nextImage {
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    font-size: 2.5rem;
    color: black;
    cursor: pointer;
    background: none;
    border: none;
    z-index: 101;
}

.fa-xmark {
    top: 30px;
    right: 30px;
}

#prevImage {
    left: 20px;
    transform: translate(-50%, -50%);
}

#nextImage {
    right: 20px;
}

@media(min-width: 1200px) {
    .img-container {
        width: 60vw;
    }
}

@media(min-width: 1400px) {
    .img-container {
        width: 50vw;
    }
}

/* CONTACT */
.contact {
    margin-bottom: 1px;
    color: #FFF6E9;
}

.contact-data {
    font-size: 1.1rem;
}
.contact-data a {
    margin-bottom: 1rem;
}

.contact-data a {
    text-decoration: none;
    color: #FFF6E9;
}

.contact-data i {
    color: #0D9276;
}

.contact-form label, .contact-form input, .contact-form button {
    display: block;
}

.contact-form label {
    margin-bottom: 5px;
    font-size: 1.1rem;
}

.contact-form input, .contact-form textarea {
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    outline: none;
    width: 100%;
}

.contact-form .button {
    outline: none;
}

.contact-form textarea {
    max-height: 300px;
    height: 130px
}

.contact-form input:focus, .contact-form textarea:focus {
    outline: solid;
    outline-color: #0D9276;
}

.contact-form .button {
    border: 1px solid #0D9276;
    border-radius: 8px;
    padding: .5rem 1rem;
    background-color: #2e2e2e;
    color: #FFF6E9;
    font-weight: bold;
    letter-spacing: 1px;
}

.contact-form .button:hover, .contact-form .button:focus {
    background-color: #0D9276;
    color: #2e2e2e;
}

@media(max-width: 1200px) {
    .contact-map {
        margin-top: 2rem;
    }
}

/* FOOTER */
footer p {
    text-align: center;
    color: #FFF6E9;
}

footer, .contact {
    background-color: #2e2e2e;
}

footer p a {
    color: #BBE2EC;
}

/* MEDIA */

@media(min-width: 576px) {
    .carousel-image {
        height: 400px;
    }

    a.navbar-brand {
        font-size: 1.8rem;
    }

    .section-title {
        font-size: 1.6rem;
    }

    .section-image {
        align-items: center;
        height: 350px
    }
}

@media(min-width: 768px) {
    .section-image {
        height: 300px
    }
}

@media(min-width: 1200px) {
    .section-image {
        height: 350px
    }
}


/* MODAL */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal-content {
    background-color: #f4f4f4;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35vw;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-content .fa-xmark {
    position: static;
    transform: translate(0, 0);
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
}

.modal-content p {
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    text-align: center;
    font-size: 1.1rem;
}

.modal-actions {
    text-align: right;
}

.btn-confirm, .btn-cancel {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

.btn-confirm {
    color: white;
}

.btn-cancel {
    color: white;
    margin-left: 10px;
}

/* Table in section Orders */
main .container .table-responsive {
    overflow-x: auto;
}
@media(max-width: 992px) {
    main .container .table-responsive td a {
        line-height: 2.5rem;
    }
}
