*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    background-color: #FFF6E9;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* BTN */


/* BTN ANIMATION */

/* NAV */

a.navbar-brand {
    font-size: 2.5rem;
    color: black;
}

a.nav-link, button.nav-link {
    font-size: 1.8rem;
}

span.navbar-toggler-icon {
    color: black;
}


/* MAIN */

/* FOOTER */

