<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fences.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Fences.Web.styles.css" asp-append-version="true" />

    <!-- Google API OAUTH 2.0-->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="760918169137-9426gdn0v2imuhbr6bc2p35d5np4tcqe.apps.googleusercontent.com">

    <!-- Meta tags-->
    <meta name="author" content="Twoja Firma" />
    <meta name="theme-color" content="#007bff" />
    <meta name="description" content="Zarządzaj harmonogramem prac związanych z montażem ogrodzeń betonowych, panelowych oraz wiat. System Fences pozwala na efektywne dodawanie i aktualizowanie prac, ustawianie terminów realizacji oraz rodzaju prac." />
    <meta name="keywords" content="montaż ogrodzeń, ogrodzenia betonowe, ogrodzenia panelowe, montaż wiat, harmonogram prac, zarządzanie pracami, budowa, prace budowlane" />
    <meta name="robots" content="index, follow" />

</head>
<body>
    
    <main role="main">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/2c11667af0.js" crossorigin="anonymous"></script>
</body>
</html>
