@using Microsoft.AspNetCore.Identity
@using Fences.Model.DataModels
@model Fences.Model.DataModels.ContactForm;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<header>
    <nav class="navbar navbar-expand-lg navbar-light box-shadow py-2">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Fences.Web</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-lg-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a href="#aboutus" class="nav-link">O Nas</a>
                    </li>
                    <li class="nav-item">
                        <a href="#offer" class="nav-link">Oferta</a>
                    </li>
                    <li class="nav-item">
                        <a href="#gallery" class="nav-link">Galeria</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link">Kontakt</a>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
</header>

<section>
<div class="container-fluid p-0">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <div class="carousel-image img-1 w-100"></div>
                <div class="carousel-caption carousel-caption--left d-none d-md-block px-5">
                    <h1>Ogrodzenia betonowe</h1>
                    <p>Nasze ogrodzenia betonowe są na lata.</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <div class="carousel-image img-2 w-100"></div>
                <div class="carousel-caption d-none d-md-block">
                    <h1>Ogrodzenia panelowe</h1>
                    <p>Ogrodzenia panelowe to idealne rozwiązanie dla osób ceniących trwałość i elegancję.</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-image img-3 w-100"></div>
                <div class="carousel-caption carousel-caption--right d-none d-md-block px-5">
                    <h1>Wiaty</h1>
                    <p>Nasze wiaty są wszechstronne i uniwersalne.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
</section>

<section class="section aboutus py-4" id="aboutus">
    <div class="container">
        <h2 class="section-title">O nas</h2>
        <div class="underline"></div>
        <p class="text-center">Nasza firma specjalizuje się w profesjonalnym montażu ogrodzeń betonowych i panelowych oraz wiat. Od lat dostarczamy naszym klientom solidne i estetyczne rozwiązania, które zapewniają bezpieczeństwo i trwałość na długie lata. Dzięki doświadczeniu i zaangażowaniu naszych fachowców, każdy projekt realizujemy z dbałością o szczegóły i zgodnie z najwyższymi standardami. Stawiamy na jakość wykonania oraz terminowość, aby spełniać oczekiwania nawet najbardziej wymagających klientów.</p>
        <div class="row">
            <div class="col-sm-12 col-md-4 text-center py-1">
                <i class="fa-solid fa-route"></i>
                <p class="aboutus-icon-title pt-2">Szeroki Zasięg Usług</p>
            </div>
            <div class="col-sm-12 col-md-4 text-center py-1">
                <i class="fa-regular fa-handshake"></i>
                <p class="aboutus-icon-title pt-2">Zaufanie i Profesjonalizm</p>
            </div>
            <div class="col-sm-12 col-md-4 text-center py-1">
                <i class="fa-solid fa-tape"></i>
                <p class="aboutus-icon-title pt-2">Precyzja i Dokładność</p>
            </div>
        </div>
    </div>
</section>

<section class="py-4">
    <div class="container" id="offer">
        <h2 class="section-title">oferta</h2>
        <div class="underline"></div>
        <div class="row align-items-center">
            <div class="col-md-6 text-sm-end section-description">
                <h3>Ogrodzenia betonowe</h3>
                <p class="m-0">Nasze ogrodzenia betonowe to połączenie solidności i estetyki. Dzięki nowoczesnym technologiom produkcji zapewniają one nie tylko wysoką trwałość, ale również elegancki wygląd, który doskonale komponuje się z otoczeniem.</p>
                <a href="#concreteFence" class="see-more my-3">Zobacz więcej</a>
            </div>
            <div class="col-md-6">
                <div class="section-image img-concrete"></div>
            </div>
        </div>

        <hr class="my-5"/>

        <div class="row align-items-center flex-row-reverse">
            <div class="col-md-6 section-description">
                <h3>Ogrodzenia panelowe</h3>
                <p class="m-0">Ogrodzenia panelowe to idealne rozwiązanie dla tych, którzy szukają nowoczesnego i funkcjonalnego ogrodzenia. Charakteryzują się one dużą wytrzymałością oraz łatwością montażu, co sprawia, że są niezwykle popularne zarówno wśród klientów indywidualnych, jak i firm.</p>
                <a href="#panelFence" class="see-more my-3">Zobacz więcej</a>
            </div>
            <div class="col-md-6">
                <div class="section-image img-panel"></div>
            </div>
        </div>

        <hr class="my-5"/>

        <div class="row align-items-center">
            <div class="col-md-6 text-sm-end section-description">
                <h3>Wiaty</h3>
                <p class="m-0">Wiaty to praktyczne i estetyczne rozwiązanie, które doskonale sprawdzi się jako zadaszenie dla samochodów, sprzętu ogrodniczego, czy miejsca do wypoczynku na świeżym powietrzu. Wykonane z wysokiej jakości materiałów, nasze wiaty są odporne na warunki atmosferyczne, zapewniając długotrwałą ochronę.</p>
                <a href="#shed" class="see-more my-3">Zobacz więcej</a>
            </div>
            <div class="col-md-6">
                <div class="section-image img-shed"></div>
            </div>
        </div>

        <div class="text-center mt-5 mb-2">
            <p class="lead">Nie czekaj! Zainwestuj w solidne i estetyczne ogrodzenie, które spełni Twoje oczekiwania. <br />Nasze produkty to gwarancja jakości, trwałości i nowoczesnego designu.</p>
            @if (SignInManager.IsSignedIn(User))
            {
                if(User.IsInRole("Admin"))
                {
                    <a asp-controller="Job" asp-action="Index" class="place-order">Moje zlecenia</a>
                } else
                {
                    <a asp-controller="Job" asp-action="AddJob" class="place-order">Złóż zamówienie</a>
                }
            }
            else
            {
                <a asp-area="Identity" asp-page="/Account/Login" class="place-order">Złóż zamówienie</a>
            }
        </div>

    </div>
</section>

<section class="section gallery py-4" id="gallery">
    <div class="container">
        <h2 class="section-title">Galeria</h2>
        <div class="underline"></div>

        <div class="gallery-concrete row mb-5" id="concreteFence">
            <img class="col-lg-6 gallery-item" loading="lazy" src="~/img/25_SM.jpg" alt="Betonowe ogrodzenie na posesji, wykonane z poziomych paneli betonowych, ustawione wzdłuż ścieżki i otoczone zielenią." />
            <img class="col-lg-6 gallery-item" loading="lazy" src="~/img/12_SM.jpg" alt="Ogrodzenie betonowe składające się z pionowych słupków i paneli, ustawione na trawniku, otoczone zielenią i drzewami w tle." />
            <img class="col-lg-6 gallery-item" loading="lazy" src="~/img/8_SM.jpg" alt="Betonowe ogrodzenie wzdłuż drogi, z panelami o fakturze drewna, otoczone drzewami i budynkami w tle." />
            <img class="col-lg-6 gallery-item" loading="lazy" src="~/img/13_SM.jpg" alt="Betonowe ogrodzenie wzdłuż drogi, z panelami o fakturze drewna i budynek w tle." />
        </div>

        <div class="gallery-panel row mb-5" id="panelFence">
            <img class="gallery-item" loading="lazy" src="~/img/20_SM.jpg" alt="Czarny metalowy płot z siatki z betonowymi panelami u podstawy, otaczający trawiasty teren za domem. Ogrodzenie składa się z pionowych i poziomych prętów dla wsparcia." />
            <img class="gallery-item" loading="lazy" src="~/img/22_SM.jpg" alt="Metalowe ogrodzenie z siatki i betonowymi panelami u podstawy, otaczające mały trawnik przed nowoczesnym domem. Wzdłuż ogrodzenia rosną młode tuje." />
            <img class="gallery-item" loading="lazy" src="~/img/18_SM.jpg" alt="" />
            <img class="gallery-item" loading="lazy" src="~/img/19_SM.jpg" alt="" />
        </div>

        <div class="gallery-shed row" id="shed">
            <img class="gallery-item" loading="lazy" src="~/img/9_SM.jpg" alt="Montaż betonowego ogrodzenia z panelami o teksturze kamienia, na otwartej przestrzeni w słoneczny dzień." />
            <img class="gallery-item" loading="lazy" src="~/img/11_SM.jpg" alt="Montaż betonowego ogrodzenia z panelami o teksturze kamienia, na otwartej przestrzeni w słoneczny dzień." />
            <img class="gallery-item" loading="lazy" src="~/img/19_SM.jpg" alt="Betonowe ogrodzenie składające się z poziomych paneli, ustawione w kształcie kwadratu, z budynkami i lasem w tle." />
            <img class="gallery-item" loading="lazy" src="~/img/18_SM.jpg" alt="Montaż betonowego ogrodzenia składającego się z poziomych paneli, na otwartym terenie, otoczony lasem i budynkami w tle." />
        </div>

    </div>
</section>

<div class="gallery-full-screen" id="fullScreenGallery">
    <div class="img-container">
        <i class="fa-solid fa-xmark" id="closeFullScreen"></i>
        <i class="fa-solid fa-chevron-left" id="prevImage"></i>
        <img id="fullScreenImage" src="" alt="Full-screen image" />
        <i class="fa-solid fa-chevron-right" id="nextImage"></i>
    </div>
</div>

<section class="section contact py-4" id="contact">
    <div class="container">
        <h2 class="section-title">Kontakt</h2>
        <div class="underline"></div>
        <div class="row">
            <div class="row col-xl-6">
                <div class="contact-data col-md-6">
                    <div class="d-flex gap-2">
                        <i class="fa-solid fa-location-dot mt-1"></i>
                        <p><strong>Fences.Web</strong><br />ul. Henryka Dąbrowskiego 69<br />42-201 Częstochowa</p>
                    </div>
                    <div class="d-flex gap-2">
                        <i class="fa-solid fa-envelope mt-1"></i>
                        <a href="mailto:fences@fences.web.pl"><strong>fences@fences.web.pl</strong></a>
                    </div>
                    <div class="d-flex gap-2">
                        <i class="fa-solid fa-phone-flip mt-1"></i>
                        <a href="tel:+48123456789"><strong>+48 123 456 789</strong></a>
                    </div>
                </div>

                <div class="contact-form col-md-6">
                    <form asp-controller="ContactForm" asp-action="SendEmail" method="post">
                        @Html.AntiForgeryToken()

                        <div class="mb-3">
                            <label asp-for="Name">Imię i Nazwisko</label>
                            <input asp-for="Name"/>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Email">E-mail</label>
                            <input asp-for="Email"/>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Content">Treść wiadomości</label>
                            <textarea asp-for="Content"></textarea>
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>

                        <input type="submit" class="button" value="Wyślij wiadomość" />
                    </form>

                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success mt-4">@TempData["SuccessMessage"]</div>
                    }

                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger mt-4">@TempData["ErrorMessage"]</div>
                    }
                </div>

                @section Scripts {
                    <!-- skrypty, które zapobiegają przeładowywaniu strony podczas wysyłania formularza -->
                    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.1/jquery.validate.min.js"></script>
                    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate.unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

                    <!-- Skrypty do walidacji formularza -->
                    @{
                        await Html.RenderPartialAsync("_ValidationScriptsPartial");
                    }
                }
            </div>
            <div class="col-xl-6 contact-map">
                <iframe title="LocationMap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2520.5438347220165!2d19.108977476477047!3d50.821089860608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4710b5d56dfb56a3%3A0x454b1a87aef92039!2sGenera%C5%82a%20Jana%20Henryka%20D%C4%85browskiego%2069%2C%2042-218%20Cz%C4%99stochowa!5e0!3m2!1spl!2spl!4v1725557536271!5m2!1spl!2spl" width="100%" height="500" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        </div>
    </div>
</section>

<footer class="footer text-muted py-4">
    <p class="m-0">&copy <span class="footer-year"></span> - Fences.Web</p>
    <p class="mt-2">Przeczytaj naszą <a href="/polityka-prywatnosci" class="text-decoration-none">politykę prywatności</a>, aby dowiedzieć się więcej o tym, jak chronimy Twoje dane osobowe.</p>
</footer>